@font-face {
    font-family:MuseoSans;
    src: url(MuseoSans.otf)
}
body {
  background-color: black;
  overflow: hidden;
}

iframe {
  display:none;
}

#vid {
    position: fixed;;
    top: 51%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    filter: blur(8px)grayscale(1);
    pointer-events: none;
}

.linkContainer {
  position: fixed;
  text-align: center;
  top: 56%;
  left: 48%;
}

a {
  display: none;
  color: #89ABE3FF;
  text-decoration: none;
  font-family: MuseoSans;;
  font-weight:500;
  font-size:25px;
  transition: 0.5s;
  cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently */
}

a:hover {
  display: none;
  color: #CBCE91FF;
  font-weight: 800;
}

pre{
  position: fixed;
  top: 38%;
  left: 34%;
  font-size: 15px;
  font-weight: 400;
  color: #89ABE3FF;
  transition: 0.8s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently */
}

pre:hover {
  color: #CBCE91FF;
  transition: 0.8s;
}
